#admin-scheduler-main thead th { padding: 2px 0px 2px 2px; border: 0; }
#admin-scheduler-main tbody tr:hover { background-color: #343a40; }
#admin-scheduler-main tbody td { padding: 2px 0px 2px 2px; border: 0; }
