#admin-custom-domain-fields thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#admin-custom-domain-fields tbody tr:hover { background-color: #343a40; }
#admin-custom-domain-fields tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
