#admin-debug-log-main thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#admin-debug-log-main tbody tr:hover { background-color: #cccccc; }
#admin-debug-log-main tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
