#admin-custom-domain-fields thead th { padding: 2px 0px 2px 6px; border: 0; white-space: nowrap; }
#admin-custom-domain-fields tbody tr:hover { background-color: #dddddd; }
#admin-custom-domain-fields tbody td { padding: 2px 0px 2px 6px; border: 0; white-space: nowrap; }
