#admin-users-main thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#admin-users-main tbody tr:hover { background-color: #343a40; }
#admin-users-main tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
