#assets-owners thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#assets-owners tbody tr:hover { background-color: #343a40; }
#assets-owners tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
