#assets-registrar-accounts thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#assets-registrar-accounts tbody tr:hover { background-color: #cccccc; }
#assets-registrar-accounts tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
