#assets-registrar-fees-missing thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#assets-registrar-fees-missing tbody tr:hover { background-color: #343a40; }
#assets-registrar-fees-missing tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
