#assets-ssl-providers thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#assets-ssl-providers tbody tr:hover { background-color: #343a40; }
#assets-ssl-providers tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
