#assets-ip-addresses thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#assets-ip-addresses tbody tr:hover { background-color: #cccccc; }
#assets-ip-addresses tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
