#assets-ssl-provider-fees thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#assets-ssl-provider-fees tbody tr:hover { background-color: #343a40; }
#assets-ssl-provider-fees tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
