#dw-list-zones thead th { padding: 2px 0px 2px 6px; border: 0; white-space: nowrap; }
#dw-list-zones tbody tr:hover { background-color: #ffffff; }
#dw-list-zones tbody td { padding: 2px 0px 2px 6px; border: 0; white-space: nowrap; }
