#dw-list-zones-unused thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#dw-list-zones-unused tbody tr:hover { background-color: #ffffff; }
#dw-list-zones-unused tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
