#reporting-ssl-cost-by-owner thead th { padding: 2px 0px 2px 6px; border: 0; white-space: nowrap; }
#reporting-ssl-cost-by-owner tbody tr:hover { background-color: #dddddd; }
#reporting-ssl-cost-by-owner tbody td { padding: 2px 0px 2px 6px; border: 0; white-space: nowrap; }
