#reporting-ssl-cost-by-type thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#reporting-ssl-cost-by-type tbody tr:hover { background-color: #cccccc; }
#reporting-ssl-cost-by-type tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
