#reporting-domain-cost-by-host thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#reporting-domain-cost-by-host tbody tr:hover { background-color: #343a40; }
#reporting-domain-cost-by-host tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
