#reporting-ssl-cost-by-type thead th { padding: 2px 0px 2px 6px; border: 0; white-space: nowrap; }
#reporting-ssl-cost-by-type tbody tr:hover { background-color: #dddddd; }
#reporting-ssl-cost-by-type tbody td { padding: 2px 0px 2px 6px; border: 0; white-space: nowrap; }
