#reporting-domain-cost-by-ip thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#reporting-domain-cost-by-ip tbody tr:hover { background-color: #343a40; }
#reporting-domain-cost-by-ip tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
