#reporting-domain-cost-by-dns thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#reporting-domain-cost-by-dns tbody tr:hover { background-color: #cccccc; }
#reporting-domain-cost-by-dns tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
