#reporting-ssl-cost-by-owner thead th { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
#reporting-ssl-cost-by-owner tbody tr:hover { background-color: #cccccc; }
#reporting-ssl-cost-by-owner tbody td { padding: 4px 0px 4px 6px; border: 0; white-space: nowrap; }
